# dependencies
/node_modules

# next.js
/.next
/out
*.tsbuildinfo
next-env.d.ts

# dokumen internal rahasia — JANGAN pernah masuk repo
*.md

# misc
.DS_Store
*.pem
.env*
!.env.example

# local tooling
/scratch
